/* Popup styling */
.popup,
.date-popup
{ display: none;
  z-index: 10000;
  padding: 1em;
  border: 1px solid black;
  background-color: white;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 40px 5px black;
  -webkit-box-shadow: 0 0 40px black;
}

.popup-thin
{  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 10px 5px #aaa;
  -webkit-box-shadow: 0 0 10px #aaa;
}

/* Datepicker popup styling */
.popup-size-standard,
.date-popup
{ width: 30em;
  min-height: 15em;
}

/* OpenLayers popup*/
.olPopup
{
  -moz-box-shadow:0 0 10px 1px black;
  -webkit-box-shadow: 0 0 10px black;
}

.icon-action
{ float: right;
}

.popup-graph-edit-form
{ text-align: left;  /* We might be shown inside a centered table column... */
  }

.popup-form .fixed-label-width label
{ width: 10em;
  margin: 0.5em 0;
  display: block;
  float: left;
  clear: left;
  }

#animation-slider,
#transparency-slider
{ display: block;
  float: left;
  line-height: 1.5em;
  margin-top: 0.4em;
  margin-left: 1em;
}

#animation-slider
{ width: 20em;
  }

#transparency-slider
{ width: 5em;
  }

.vertical-limited
{ height: 300px;
  width: 100%;
  overflow: scroll;
}

#hover-popup_contentDiv
{ padding-top: 0.75em;
  background-color: lightyellow;
  }


#graph-popup
{ display: none;
  z-index: 10000;
  width: 40em;
  min-height: 15em;
  padding: 1em;
  border: 1px solid black;
  background-color: white;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 40px 5px black;
  -webkit-box-shadow: 0 0 40px black;
}

#graph-popup-content
{ overflow: auto;
  }

/* Data attributes for lizard map wms */
#lizard-map-wms
{ display: none;
  }

.map-action
{ margin-left: 0.5em;
  }

.workspace-item-image
{ float: left;
  display: block;
  font-weight: normal;
  margin: 4px 0 auto 0;
  }

.workspace-item
{
  overflow: visible;
  width: 100%;
  min-height: 2em;
  }

.workspace-item-checkbox
{
  float: left;
  display: block;
  font-weight: normal;
  margin: 2px 0.75em auto 0.75em;
  }

.workspace-acceptable
{
  min-height: 2em;
  line-height: 2em;
  }

.workspace-item-name
{ margin: auto;
  display: block;
  width: 15em;
  line-height: 2em;
  }
