.workspace-acceptable {
  // Styling for an item that can become a workspace item.
  border: 1px solid transparent;
  &:hover {
    border: 1px solid gray;
  }
}

#map {
  // A gray background makes it less conspicuous if background map tiles
  // take a while to load.
  background-color: #ddd;
}

#lizard-map-wms {
  // Don't show the html elements that are only used to feed map layer info
  // to openlayers.
  display: none;
}

#moving-box {
  // Indicator for moving a workspace acceptable to the workspace.
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
}
