[buildout]
index = http://packages.lizardsystem.nl
unzip = true
prefer-final = true
versions = versions
extensions = buildout-versions
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
    sphinx
develop = .
#         local_checkouts/some_trunk_external
eggs =
    lizard-map


[versions]
# Specific pins
lizard-map =
lizard-ui = 1.29

# Reported by buildout-versions
BeautifulSoup = 3.1.0.1
Jinja2 = 2.5.5
Pygments = 1.4
Shapely = 1.2.7
Sphinx = 1.0.7
buildout-versions = 1.3
collective.recipe.omelette = 0.9
collective.recipe.sphinxbuilder = 0.7.0
coverage = 3.4
createcoverage = 0.3
distribute = 0.6.14
django-compressor = 0.5.3
django-extensions = 0.6
django-nose = 0.1
django-staticfiles = 0.2.0
djangorecipe = 0.20
docutils = 0.7
eazysvn = 1.12.0
nose = 0.11.4
nosexcover = 1.0.4
osc.recipe.sysegg = 0.1.2
pep8 = 0.5.0
pkginfo = 0.7
pyflakes = 0.4.0
south = 0.7.2
zc.buildout = 1.4.3
zc.recipe.egg = 1.2.2
zest.releaser = 3.20


[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    PIL
    matplotlib
    pyproj


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
version = 1.2.1
project = lizard_map
projectegg = lizard_map
settings = testsettings
test = lizard_map
eggs = lizard-map


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    createcoverage
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
