[buildout]
index = http://packages.lizardsystem.nl
unzip = true
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
prefer-final = true
versions = versions
extensions =
    mr.developer
    buildout-versions
parts =
    sysegg
    django
    mkdir
    omelette
    console_scripts
    pyflakes
    sphinx
develop = .
eggs =
    lizard-map
    django-debug-toolbar
auto-checkout =


[versions]
# Specific pins
lizard-map =
django-debug-toolbar = 0.9.4
django-jsonfield = 0.8.10

# Reported by buildout-versions
django-appconf = 0.5


[sources]
lizard-ui = git git@github.com:lizardsystem/lizard-ui.git


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log


[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    psycopg2
    matplotlib
    pyproj


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_map
projectegg = lizard_map
settings = testsettings
test = lizard_map
eggs =
     ${buildout:eggs}
     coverage


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    coverage
    createcoverage
    eazysvn
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
