[buildout]
index = http://packages.lizardsystem.nl
extends = http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
prefer-final = true
show-picked-versions = true
extensions =
    mr.developer
parts =
    sysegg
    django
    mkdir
    omelette
    console_scripts
    sphinx
develop = .
eggs =
    lizard-map
    django-debug-toolbar


[versions]
# Specific pins
lizard-map =
Django = 1.6.6
django-nose = 1.2
djangorecipe = 1.10
django-extensions = 1.3.8
django-compressor = 1.4
django-jsonfield = 0.9.13
nose = 1.3.3
gunicorn = 19.0.0
django-debug-toolbar = 0.9.4
djangorestframework = 2.1.6
sphinx = 1.1.3
docutils = 0.10
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.0a3
django-appconf = 0.6
Pillow = 2.5.3

[sources]
lizard-ui = git git@github.com:lizardsystem/lizard-ui.git
lizard-wms = git git@github.com:lizardsystem/lizard-wms.git


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log


[sysegg]
recipe = syseggrecipe
force-sysegg = true
eggs =
    psycopg2
    matplotlib
    pyproj


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_map
projectegg = lizard_map
settings = testsettings
test = lizard_map
eggs =
     ${buildout:eggs}
     lizard-map[test]


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
dependent-scripts = true
eggs =
    ${buildout:eggs}
# Development tools
    coverage
    createcoverage
    pep8
    pyflakes
    zest.releaser
    translations


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
