{% load i18n %}
<html>
  <body>
    {# Render a table using view.values #}
    <div class="dialog-box">
      <h3>{{ view.name }}</h3>
      <div>{{ view.start_date }} - {{ view.end_date }}</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{% trans 'Date + time' %}</th>
            <th>{% trans 'Value' %}</th>
            <th>{% trans 'Unit' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for value in view.values %}
            <tr>
              <td>{{ value.datetime }}</td>
              <td>{{ value.value|floatformat }}</td>
              <td>{{ value.unit }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3">
                {% trans 'No values' %}.
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
