{# Render a table using view.values #}
<div class="dialog-box">
  <h3>{{ view.name }}</h3>
  <div>{{ view.start_date }} - {{ view.end_date }}</div>
  <table class="generic-table">
    <thead>
      <th>Datum + tijdstip</th>
      <th>Waarde</th>
      <th>Eenheid</th>
    </thead>
    {% for value in view.values %}
    <tr>
      <td>{{ value.datetime }}</td>
      <td>{{ value.value|floatformat }}</td>
      <td>{{ value.unit }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">
        Geen waardes.
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
