{#% extends "lizard_ui/lizardbase.html" %#}
{% extends "lizard_map/lizardgis.html" %}
{% load workspaces %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_map/graph.js"></script>
{% endblock %}

{% block object-actions %}
    <span class="ss_sprite ss_help"><a href="{% url help-collage %}" data-help-name="collage_help" class="ajax-help-dialog">Help</a></span> |
    {{ block.super }}
{% endblock %}

{% block sidebar %}

{# TODO slugs #}
{% collage_edit view.collage_edit 'True' 'True' %}

{% endblock %}

{% block above-content %}
  <a href="{% url lizard_map_date_range %}"
     id="date-range"
     title='Van {{ view.date_start_period|date:"d-m-Y" }} t/m {{ view.date_end_period|date:"d-m-Y" }}'
     class="title datepicker-icon action-icon ajax-dialog-onchange"
     data-replace-titles="date-range"
     data-size="s"
     rel="tipsy-south">&nbsp;</a>
  {{ block.super }} {# Nothing yet #}
{% endblock %}

{% block content %}
{# Popups: invisible #}
<div id="dialog">
  <div id="dialog-content">
  </div>
</div>
<div id="textual">
  <div id="collage">
    <h2>Selectie</h2>
    {% for grouping_hint, collage_items in view.grouped_collage_items.items %}

    <h3>Grafiek</h3>
    {% collage_items_html collage_items 'True' %}
    <div>&nbsp;</div>

    {# Statistics #}
    {% collage_item_statistics view.request collage_items %}

    <h3>Bewerken</h3>
    <table class="generic-table">
      <thead><tr>
        <th>Naam</th>
        <th>Bewerk</th>
        <th>Toon tabel</th>
      </tr></thead>
      <tbody>
        {% for collage_item in collage_items %}
        <tr>
          <td>{{ collage_item.name }}</td>
          <td><a href="{% url lizard_map_collage_item_editor collage_item_id=collage_item.id %}" class="ss_sprite ss_chart_line_edit ajax-dialog">Bewerk</a>
          </td>
          <td><a href="{% adapter_url collage_item 'html' %}"
                 class="ss_sprite ss_table ajax-dialog">Toon tabel</a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    {% endfor %}
    <p>
      {# calculate stats for your collage-edits collage items #}
      <a href="{% url lizard_map_statistics_csv %}"
         class="ss_table_save ss_sprite noprint"
         title="Export alle statistieken in csv">export alle statistieken</a>
    </p>
  </div>
</div>

{% endblock %}
