{# loads wms.html because we want to display workspaces. else we would use lizard_ui/lizardbase.html #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block breadcrumbs %}
<a href="{% url homepage %}">home</a>
&rarr;
<a href="{% url analysis_start %}" class="lizard-map-link">analyse</a>
&rarr;
<a href="{% url lizard_map_workspace workspace_id=collage.workspace.id %}" class="lizard-map-link">{{ collage.workspace }}</a>
&rarr;
<a href="{% url lizard_map.collage collage_id=collage.id %}" class="lizard-map-link">{{ collage }}</a>
{% endblock %}

{% block sidebar %}
{% workspace collage.workspace %}
{% endblock %}

{% block content %}
<div id="textual">

<h2>{{ collage.name }}</h2>
{% for workspace_item in collage.workspace_items %}

{% autoescape off %}
{% collage_workspace_item collage workspace_item %}
{% endautoescape %}

{% endfor %}

</div>
{% endblock content %}
