{% extends "lizard_map/lizardgis.html" %}
{% load i18n workspaces %}

{% block awesome %}
  {# No lizard5 awesome box #}
{% endblock awesome %}


{% block sidebar %}
  {# TODO slugs #}
  {% collage_edit view.collage_edit 'True' 'True' %}

{% endblock %}

{% block content %}
  <div id="textual">
    <div id="collage">
      <table class="table"
             id="edit-collage-table">
        <tbody>
          {% for grouping_hint, collage_items, all_collage_items in view.grouped_collage_items %}
            {% for collage_item in all_collage_items %}
              <tr id="collage-items-{{ collage_item.id }}"
                  class="collage-item"
                  data-object-id="{{ collage_item.id }}">
                <td>
                  <input id="{{ collage_item.id }}"
                         autocomplete="off"
                         class="collage-item-checkbox reload-after-action"
                         type="checkbox"
                         {% if collage_item.visible %}
                           checked="checked"
                         {% endif %}
                         href="{% url lizard_map_collage_item_edit %}"
                         data-target-id="#edit-collage"/>
                </td>
                <td>
                  <img class="collage-item-image"
                       src="{{ collage_item.adapter.symbol_url }}"
                       width="16"
                       height="16" />
                  {{ collage_item.name }}
                  <br>
                  <a href="{% adapter_url collage_item 'html' %}"
                       class="ss_sprite ss_table collage-table-popup">
                    Toon tabel
                  </a>
                  &nbsp;&nbsp;&nbsp;
                  <a href="{% adapter_url collage_item 'csv' %}"
                     class="ss_sprite ss_table_save">
                    Exporteer csv
                  </a>
                  <br>
                  <a class="ss_sprite ss_delete sidebarbox-action-icon collage-item-delete reload-after-action"
                     title="{% trans 'Delete item' %}"
                     href="{% url lizard_map_collage_item_edit %}"
                     data-target-id="#edit-collage">
                    Verwijder item
                  </a>
                </td>

                {% if forloop.first %}
                  <td rowspan="{{ all_collage_items|length }}"
                      style="width: 70%">
                    {% collage_items_html collage_items 'True' view.request %}
                  </td>
                {% endif %}

              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      <!-- Statistics have been removed in lizard5 -->

    </div>
  </div>
{% endblock %}
