{% extends "lizard_map/lizardgis.html" %}
{% load i18n workspaces %}

{% block awesome %}
  {# No lizard5 awesome box #}
{% endblock awesome %}


{% block sidebar %}
  {# TODO slugs #}
  {% collage_edit view.collage_edit 'True' 'True' %}

{% endblock %}

{% block content %}
  <div id="textual">
    <div id="collage">
      <table class="table">
        <thead>
          <tr>
            <th>Naam</th>
            <th>Toon<br>tabel</th>
            <th>Exporteer<br>csv</th>
            <th>Grafiek</th>
          </tr>
        </thead>

        <tbody>
          {% for grouping_hint, collage_items in view.grouped_collage_items.items %}
            {% for collage_item in collage_items %}
              <tr>
                <td>
                  {{ collage_item.name }}
                </td>
                <td><a href="{% adapter_url collage_item 'html' %}"
                       class="ss_sprite ss_table collage-table-popup">&nbsp;</a></td>
                <td><a href="{% adapter_url collage_item 'csv' %}"
                       class="ss_sprite ss_table_save">&nbsp;</a></td>

                {% if forloop.first %}
                  <td rowspan="{{ collage_items|length }}"
                      style="width: 70%">
                    {% collage_items_html collage_items 'True' view.request %}
                  </td>
                {% endif %}

              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      <!-- Statistics have been removed in lizard5 -->

    </div>
  </div>
{% endblock %}
