{# Screen with apps and workspaces on the left and map on the right. #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}
{% load utility %}

{% block bottom-extras %}
<link rel="stylesheet" href="{{ STATIC_URL }}lizard_map/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}lizard_map/leaflet.ie.css" />
<![endif]-->
<script src="{{ STATIC_URL }}lizard_map/leaflet.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}lizard_map/compare.css" />
<script src="{{ STATIC_URL }}lizard_map/lizard_compare.js"></script>
{% endblock bottom-extras %}

{% block sidebar %}
<h2>Kaarten vergelijken</h2>
<h3>Kaart A</h3>

<div id="mapawrapper">
<div id="mapa-controls">
<table style="margin-top:5px;width:100%;">
<tr>
    <td>
        <div class="btn-group" data-toggle="buttons-radio" id="year-buttons">
          <a class="btn" disabled="true" href="#">2015</a>
          <a id="year-2050" class="btn active" href="#">2050</a>
          <a id="year-2100" class="btn" href="#">2100</a>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="btn-group">
          <a class="btn" disabled="true" href="#">Rust</a>
          <a class="btn" disabled="true" href="#">Druk</a>
          <a class="btn" href="#">Stoom</a>
          <a class="btn" href="#">Warm</a>
        </div>
    </td>
</tr>
</table>
</div>


<div style="margin:10px 0px 5px 0px;">
<ul class="workspaces">
    {% for w in view.wms_layers %}
        <li>
            <table>
            <tr valign="top">
                <td>
                    <input type="checkbox" data-url="{{ w.url }}" data-params='{{ w.params|safe }}' data-workspace-wms-cql-filters='{{ w.cql_filters|safe }}' class="ws-a-item" name="map-a-item[]" id="ws-a-{{ w.wms_id }}" value="{{ w.id }}"/>
                </td>
                <td>
                    <label for="ws-a-{{ w.wms_id }}">&nbsp;{{ w.name }}</label>
                </td>
            </tr>
            </table>
        </li>
    {% endfor %}
</ul>
</div>
</div>


<h3>Kaart B</h3>
<div id="mapbwrapper">
<div id="mapb-controls">
<table style="margin-top:5px;width:100%;">
<tr>
    <td>
        <div class="btn-group" data-toggle="buttons-radio" id="year-buttons">
          <a class="btn" disabled="true" href="#">2015</a>
          <a id="year-2050" class="btn active" href="#">2050</a>
          <a id="year-2100" class="btn" href="#">2100</a>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="btn-group">
          <a class="btn" disabled="true" href="#">Rust</a>
          <a class="btn" disabled="true" href="#">Druk</a>
          <a class="btn" href="#">Stoom</a>
          <a class="btn" href="#">Warm</a>
        </div>
    </td>
</tr>
</table>
</div>

<div style="margin:10px 0px 5px 0px;">
<ul class="workspaces">
    {% for w in view.wms_layers %}
        <li>
            <table>
            <tr valign="top">
                <td>
                    <input type="checkbox" data-url="{{ w.url }}" data-params='{{ w.params|safe }}' data-workspace-wms-cql-filters='{{ w.cql_filters|safe }}' class="ws-b-item" name="map-b-item[]" id="ws-b-{{ w.wms_id }}" value="{{ w.id }}"/>
                </td>
                <td>
                    <label for="ws-b-{{ w.wms_id }}">&nbsp;{{ w.name }}</label>
                </td>
            </tr>
            </table>
        </li>
    {% endfor %}
</ul>
</div>
</div>
{% endblock sidebar %}


{% block content %}
<div class="row-fluid">
    <div class"map" id="map-a" data-wms-cql-filters="" style="height:400px;"></div>
</div>
<div class="row-fluid">
    <div class"map" id="map-b" data-wms-cql-filters="" style="height:400px;"></div>
</div>
{% endblock content %}

{% block breadcrumbs %}
<ul>
    <li><a href="/map/">Home</a>&nbsp;&rarr;&nbsp;</li>
    <li><a href="/analyseopgave/">Analyse Opgave</a>&nbsp;&rarr;&nbsp;</li>
    <li data-content="Workspace items met elkaar vergelijken." class="has_popover" data-original-title="Workspace items vergelijken">
      <a href="/map/compare/">Vergelijken</a>
    </li>
</ul>
{% endblock breadcrumbs %}

{% block secondary-sidebar %}{% endblock secondary-sidebar %}
{% block rightbar %}{% endblock rightbar %}
{% block sidebar-actions %}{% endblock sidebar-actions %}
{% block rightbar-actions %}{% endblock rightbar-actions %}
{% block content-actions %}{% endblock content-actions %}
{% block orthogonal-actions %}{% endblock orthogonal-actions %}
{% block map-javascript %}{% endblock %}
