{# graph edit screen, first implemented for fews timeserie #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_map/graph.js"></script>
{% endblock %}

{% block subtitle %} {{ name }} {% endblock %}

{% block portal-tabs %}
<ul>
  <li class="selected"><a href="/">Overzicht</a></li>
  <li class="last"><a href="/analysis">Analyse</a></li>
</ul>
{% endblock portal-tabs %}

{% block breadcrumbs %}
<a href="{% url homepage %}">home</a>
&rarr;
<a href="{% url analysis_start %}" class="lizard-map-link">analyse</a>
&rarr;
<a href="{% url lizard_map_workspace workspace_id=workspace_item.workspace.id %}" class="lizard-map-link">{{ workspace_item.workspace }}</a>
&rarr;
<a href="{% url lizard_map.workspace_item.graph_edit workspace_item_id=workspace_item.id %}?identifier={{ location.identifier }}" class="lizard-map-link">{{ name }}</a>
{% endblock %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>
    Grafieken
    <span class="ss_sprite ss_calendar_view_day sidebarbox-action-icon popup-trigger"
          rel="#summary-datepicker">&nbsp;</span>
  </h2>
  <div>
    {% date_popup %}
    uitleg

    <ul>
      <li>
        <span data-url="{% url lizard_map.session_graph_properties %}" class="graph-add-maximum" data-workspace-item-id="{{ workspace_item.id }}" data-identifier-json="{{ location.identifier|json_escaped }}">Maximum</span>
      </li>
      <li>
        <span data-url="{% url lizard_map.session_graph_properties %}" class="graph-add-minimum" data-workspace-item-id="{{ workspace_item.id }}" data-identifier-json="{{ location.identifier|json_escaped }}">Minimum</span>
      </li>
      <li>
        <span data-url="{% url lizard_map.session_graph_properties %}" class="graph-add-average" data-workspace-item-id="{{ workspace_item.id }}" data-identifier-json="{{ location.identifier|json_escaped }}">Gemiddelde</span>
      </li>
      <li>
        <span data-url="{% url lizard_map.session_graph_properties %}" class="graph-add-legend" data-workspace-item-id="{{ workspace_item.id }}" data-identifier-json="{{ location.identifier|json_escaped }}">Legenda</span>
      </li>
    </ul>

    <ul>
      <li>
        <span data-url="{% url lizard_map_session_collage_snippet_add %}" class="graph-save-snippet" data-workspace-item-id="{{ workspace_item.id }}" data-workspace-item-location-identifier="{{ location.identifier|json_escaped }}" data-workspace-item-location-shortname="{{ location.shortname }}" data-workspace-item-location-name="{{ location.name }}">Save as snippet (TODO: add workspace_item to workspace if workspace_item is temp workspace)</span>
      </li>
    </ul>
  </div>
</div>
{# {% workspace workspace_item.workspace %} #}
{% endblock %}

{% block object-actions %}
{# Look up icon classes in http://www.ajaxbestiary.com/Labs/SilkSprite/ #}
<span title="Werkt nog niet" class="notworking ss_sprite ss_printer">Printen</span> |
<span title="Werkt nog niet" class="notworking ss_sprite ss_application_go">Exporteren</span> |
<span class="ss_sprite ss_help"><a href="{% url help %}" target="_blank">Help</a></span>
{% endblock %}


{% block content %}
<div id="textual">
<h2>{{ name }}</h2>
<div style="width: 100%; height: 250px;" class="img-use-my-size">
  <a href="{{ img_url }}" class="replace-with-image">afbeelding nog niet geladen</a>
</div>
</div>
{% endblock %}

