{# graph edit screen, first implemented for fews timeserie #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_map/graph.js"></script>
{% endblock %}

{% block subtitle %} {{ name }} {% endblock %}

{% block portal-tabs %}
<ul>
  <li class="selected"><a href="/">Overzicht</a></li>
  <li class="last"><a href="/analysis">Analyse</a></li>
</ul>
{% endblock portal-tabs %}

{% block breadcrumbs %}
<a href="{% url homepage %}">home</a>
&rarr;
<a href="{% url analysis_start %}" class="lizard-map-link">analyse</a>
&rarr;
<a href="{% url lizard_map_workspace workspace_id=workspace_item.workspace.id %}" class="lizard-map-link">{{ workspace_item.workspace }}</a>
&rarr;
<a href="{% url lizard_map.workspace_item.graph_edit workspace_item_id=workspace_item.id %}?identifier={{ location.identifier }}" class="lizard-map-link">{{ name }}</a>
{% endblock %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>
    Grafieken
    <span class="ss_sprite ss_calendar_view_day sidebarbox-action-icon popup-trigger"
          rel="#summary-datepicker">&nbsp;</span>
  </h2>
  <div>
    {% date_popup %}
    <form class="graph-options"
          data-url="{% url lizard_map.session_graph_properties %}"
          data-workspace-item-id="{{ workspace_item.id }}"
          data-identifier-json="{{ location.identifier|json_escaped }}">
      <ul class="automatic-tree">
        <li>
          <span class="expandable">Statistische bewerkingen</span>
          <ul>
            <li><input class="graph-action" type="checkbox" name="line_max"
            {% if location.identifier.layout.line_max %}checked{% endif %}/>
            Maximum</li>
            <li><input class="graph-action" type="checkbox" name="line_min"
            {% if location.identifier.layout.line_min %}checked{% endif %}/>
            Minimum</li>
            <li><input class="graph-action" type="checkbox" name="line_avg"
            {% if location.identifier.layout.line_avg %}checked{% endif %}/>
            Gemiddelde</li>
            <li><input class="graph-action" type="checkbox" name="line_percentile" value="25"/>25 percentiel</li>
            <li><input class="graph-action" type="checkbox" name="line_percentile" value="75"/>75 percentiel</li>
          </ul>
        </li>
        <li>
          <span class="expandable">Opmaak</span>
          <ul>
            <li>
              <input class="graph-action" type="checkbox" name="legend"
                     {% if location.identifier.layout.legend %}checked{% endif %} />
            Legenda</li>
            <li>
              <input class="graph-action" type="checkbox" name="title"
                     {% if location.identifier.layout.title %}checked{% endif %} />
              <input type="text" name="title_value"
                     {% if location.identifier.layout.title %}value="{{ location.identifier.layout.title }}"{% endif %}
                />Titel</li>
            <li>
              <input class="graph-action" type="checkbox" name="y_max"
                     {% if location.identifier.layout.y_max %}checked{% endif %} />
              <input type="text" name="y_max_value"
                     {% if location.identifier.layout.y_max %}value="{{ location.identifier.layout.y_max }}"{% endif %}
                />Y-Max</li>
            <li>
              <input class="graph-action" type="checkbox" name="y_min"
                     {% if location.identifier.layout.y_min %}checked{% endif %} />
              <input type="text" name="y_min_value"
                     {% if location.identifier.layout.y_min %}value="{{ location.identifier.layout.y_min }}"{% endif %}
                   />Y-Min</li>
            <li>
              <input class="graph-action" type="checkbox" name="x_label"
                     {% if location.identifier.layout.x_label %}checked{% endif %} />
              <input type="text" name="x_label_value"
                     {% if location.identifier.layout.x_label %}value="{{ location.identifier.layout.x_label }}"{% endif %}
                   />X-Label</li>
            <li>
              <input class="graph-action" type="checkbox" name="y_label"
                     {% if location.identifier.layout.y_label %}checked{% endif %} />
              <input type="text" name="y_label_value"
                     {% if location.identifier.layout.y_label %}value="{{ location.identifier.layout.y_label }}"{% endif %}
                   />Y-Label</li>
            <li>
              <input class="graph-action" type="checkbox" name="colors"
                     {% if location.identifier.layout.y_label %}checked{% endif %} />
              <input type="text" name="colors_value"
                     {% if location.identifier.layout.colors %}value="{{ location.identifier.layout.colors }}"{% endif %}
                   />Kleur</li>
          </ul>
        </li>
        <li>
          <span class="expandable">Bewerkingsperiode</span>
          <ul>
            <li><input type="radio" name="aggregationperiod" value="all" />Hele periode</li>
            <li><input type="radio" name="aggregationperiod" value="year" />Jaar</li>
            <li><input type="radio" name="aggregationperiod" value="quarter" />Kwartaal</li>
            <li><input type="radio" name="aggregationperiod" value="month" />Maand</li>
            <li><input type="radio" name="aggregationperiod" value="week" />Week</li>
            <li><input type="radio" name="aggregationperiod" value="day" />Dag</li>
          </ul>
        </li>
      </ul>
    </form>
    {# Look up icon classes in http://www.ajaxbestiary.com/Labs/SilkSprite/ #}
    <div class="sidebarbox-actions">
      <div><span class="ss_sprite ss_table_save">Export csv</span></div>
      <div data-url="{% url lizard_map_session_collage_snippet_add_session_graph_options %}" class="graph-save-snippet" data-workspace-item-id="{{ workspace_item.id }}" data-workspace-item-location-identifier="{{ location.identifier|json_escaped }}" data-workspace-item-location-shortname="{{ location.shortname }}*" data-workspace-item-location-name="{{ location.name }}*"><span class="ss_sprite ss_page_save">Sla op in collage</span></div>
    </div>

  </div>
</div>
{# {% workspace workspace_item.workspace %} #}
{% endblock %}

{% block object-actions %}
{# Look up icon classes in http://www.ajaxbestiary.com/Labs/SilkSprite/ #}
<span title="Werkt nog niet" class="notworking ss_sprite ss_printer">Printen</span> |
<span title="Werkt nog niet" class="notworking ss_sprite ss_application_go">Exporteren</span> |
<span class="ss_sprite ss_help"><a href="{% url help %}" target="_blank">Help</a></span>
{% endblock %}


{% block content %}
<div id="textual">
<h2>{{ name }}</h2>
<div style="width: 100%; height: 250px;" class="img-use-my-size">
  <a href="{{ img_url }}" class="replace-with-image">afbeelding nog niet geladen</a>
</div>
</div>
{% endblock %}

