{# Default template for popup #}
{% load workspaces %}

{# header #}
{% block popup_title %}
<div>
  <img src="{{ symbol_url }}" />&nbsp;
  <strong>{{ title|truncatewords:8 }}</strong>
</div>
{% endblock %}

{% if img_url %}
<div style="width: 100%; height: 240px;"
     class="img-use-my-size">
  <a href="{{ img_url }}"
     class="replace-with-image">
    afbeelding nog niet geladen
  </a>
</div>
{% endif %}

{% if collage_item_props %}
<div>
  <ul class="without-bullets">
  {% for collage_item_prop in collage_item_props %}
  <li>
  <a href="{{ collage_item_prop.url }}"
     class="ss_table_save ss_sprite"
     title="Export csv">&nbsp;</a>
  <a href="{% url lizard_map_collage_add %}"
     class="ss_sprite ss_star collage-add"
     data-name="{{ collage_item_prop.name }}"
     data-adapter-class="{{ collage_item_prop.adapter_class }}"
     data-adapter-layer-json="{{ collage_item_prop.adapter_layer_json }}"
     data-identifier="{{ collage_item_prop.identifier }}"
     data-target-id="#edit-collage"
     title="Toevoegen aan selectie">&nbsp;</a>
    {{ collage_item_prop.name }}
  </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
