{% load i18n %}
{# Default template for popup #}
{% load workspaces %}

{# header #}
{% block popup_title %}
<div>
  <strong>{{ title|truncatewords:8 }}</strong>
</div>
{% endblock %}

{% if flot_graph_data_url or image_graph_url %}
<div style="width: 100%; height: 240px;"
     class="dynamic-graph"
     data-flot-graph-data-url="{{ flot_graph_data_url }}"
     data-image-graph-url="{{ image_graph_url }}">
</div>
{% endif %}

{% if collage_item_props %}
<div>
  <ul class="without-bullets">
  {% for collage_item_prop in collage_item_props %}
  <li>
  <a href="{{ collage_item_prop.url }}"
     class="ss_table_save ss_sprite"
     title="{% trans 'Export' %} csv">&nbsp;</a>
  </li>
  {{ collage_item_prop.name }}
  {% endfor %}
  </ul>
</div>
{% endif %}
