{% extends "lizard_ui/lizardbase.html" %}
{% load workspaces %}
{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.ie.css" /><![endif]-->
<link type="text/css"
      href="{{ STATIC_URL }}lizard_map/lizard_map.css"
      media="screen, projection"
      rel="stylesheet" />
{% endblock css %}

{% block javascript %}
{{ block.super }}
<script id="leaflet-script"
        type="text/javascript"
        src="{{ STATIC_URL }}leaflet/leaflet-src.js"></script>
<script src="{{ STATIC_URL }}proj4js/proj4js-compressed.js"></script>
<script src="{{ STATIC_URL }}leaflet/proj4leaflet.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_map/jquery.workspace.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_map/lizard_map.js"></script>
{% endblock javascript %}
{% block above-content %}
<ul class="map-actions">
</ul>
{% endblock above-content %}

{% block content %}
<div id="map"></div>
{% endblock content %}
