{% comment %}

Popup and full-page visualization of snippet group. This popup.html is
the default template for the html_default method.

{% endcomment %}

{% load workspaces %}
{# header #}
<div><img src="{{ symbol_url }}" /><strong>{{ title }}</strong></div>
<div style="width: 100%; height: 200px;" class="img-use-my-size">
  <a href="{{ img_url }}" class="replace-with-image">afbeelding nog niet geladen</a>
</div>
<table class="noprint">
  <tr>
    <th>Naam</th>
    <th>Export</th>
    {% if editing %}<th>Bewerken</th>{% endif %}
    {% if add_snippet %}<th>Toevoegen</th>{% endif %}
  </tr>
  {% if editing %}
  <tr>
    <td>Hele grafiek</td>
    <td></td>
    <td>
      {# na klik komt er een popup met opties voor drempelwaarde, bewerkingsperiode, titel, etc... #}
      {# to use this popup, one must use lizard_map/graph.js #}
      {% if snippet_group %}
      <span class="ss_chart_curve_edit ss_sprite graph_edit_trigger"
            title="Bewerk grafiek"
            rel="#graph_edit_overlay">
      </span>
      <div id="graph_edit_overlay" class="popup noprint">
        <h1>Grafiek opties</h1>
        <form class="graph-options"
              data-url="{% url lizard_map.snippet_group_graph_edit snippet_group_id=snippet_group.id %}">
          <ul>
            <li>
              <label>Titel</label>
              <div><input class="graph-title" type="text" name="title"
                          value="{{ snippet_group.layout_title}}" /></div>
            </li>
            <li class="left-half">
              <label>Y-min</label>
              <div><input class="graph-y-min" type="text" name="y_min"
                          value="{{ snippet_group.layout_y_min|floatformat }}" /></div>
            </li>
            <li class="right-half">
              <label>Y-max</label>
              <div><input class="graph-y-max" type="text" name="y_max"
                          value="{{ snippet_group.layout_y_max|floatformat }}" /></div>
            </li>
            <li class="left-half">
              <label>X-label</label>
              <div><input class="graph-x-label" type="text" name="x_label"
                          value="{{ snippet_group.layout_x_label }}" /></div>
            </li>
            <li class="right-half">
              <label>Y-label</label>
              <div><input class="graph-y-label" type="text" name="y_label"
                          value="{{ snippet_group.layout_y_label }}" /></div>
            </li>
            <li>
              <label>Drempelwaarde (herlaad pagina voor statistieken)</label>
              <div><input class="graph-boundary-value" type="text" name="boundary_value"
                          value="{{ snippet_group.boundary_value|floatformat }}" /></div>
            </li>
            <li><input class="graph-action" type="button" value="Update grafiek" /></li>
          </ul>
        </form>
      </div>
      {% endif %}
    </td>
    {% if add_snippet %}<td></td>{% endif %}
  </tr>
  {% endif %}
  {# icons: see http://www.ajaxbestiary.com/Labs/SilkSprite/ #}
  {% if snippet_group %}
    {# snippet group #}
    {% for snippet in snippet_group.snippets.all %}
    <tr>
      <td>{{ snippet.name }}</td>
      <td><a href="{% url lizard_map.export_identifier_csv %}?workspace_item_id={{ snippet.workspace_item.id }}&identifier_json={{ snippet.identifier|json_escaped }}"
             class="ss_table_save ss_sprite"
             title="Export csv"
             >&nbsp;</a></td>
      {% if editing %}<td>
        <span class="ss_chart_curve_edit ss_sprite graph_edit_trigger"
              title="Bewerk lijn"
              rel="#graph_edit_overlay_{{ snippet.id }}">
        </span>
        <div id="graph_edit_overlay_{{ snippet.id }}" class="popup noprint">
          <h2>{% firstof snippet.name snippet.shortname %}</h2>
          <form class="graph-options"
                data-url="{% url lizard_map.snippet_edit snippet_id=snippet.id %}">
            <ul>
              <li>
                <label>Kleur</label>
                <div><input class="graph-color" type="text" name="color"
                            value="{{ snippet.identifier.layout.color }}" /></div>
              </li>
              <li>
                <label>Toon minimum</label>
                <div><input class="graph-line-min" type="checkbox" name="line_min"
                            value="{{ snippet.identifier.layout.line_min }}" /></div>
              </li>
              <li>
                <label>Toon maximum</label>
                <div><input class="graph-line-max" type="checkbox" name="line_max"
                            value="{{ snippet.identifier.layout.line_max }}" /></div>
              </li>
              <li>
                <label>Toon gemiddelde</label>
                <div><input class="graph-line-avg" type="checkbox" name="line_avg"
                            value="{{ snippet.identifier.layout.line_avg }}" /></div>
              </li>
              <li><input class="graph-action" type="button" value="Update grafiek" /></li>
            </ul>
          </form>
        </div>
      </td>{% endif %}
      {% if add_snippet %}<td><a href=""
      class="add-snippet ss_chart_line_add ss_sprite"
      data-workspace-id="{{ snippet.workspace_item.workspace.id }}"
      data-workspace-item-id="{{ snippet.workspace_item.id }}"
      data-item-identifier='{{ snippet.identifier|json_escaped }}'
      data-item-shortname="{{ snippet.shortname }}"
      data-item-name="{{ snippet.name }}"
      title="Voeg toe aan collage"></a></td>{% endif %}
    </tr>
    {% endfor %}
  {% else %}
    {# no snippet group: #}
    {% for display_object in display_group %}
    <tr>
      <td>{{ display_object.name }}</td>
      <td><a href="{% url lizard_map.export_identifier_csv %}?workspace_item_id={{ display_object.workspace_item.id }}&identifier_json={{ display_object.identifier|json_escaped }}"
             class="ss_table_save ss_sprite"
             title="Export csv"
             >&nbsp;</a></td>
      {% if editing %}<td><a href="{{ display_object.object.get_absolute_url }}" class="ss_chart_curve_edit ss_sprite" title="Bewerk lijn"></a></td>{% endif %}
      {% if add_snippet %}<td><a href=""
      class="add-snippet ss_chart_line_add ss_sprite"
      data-workspace-id="{{ display_object.workspace_item.workspace.id }}"
      data-workspace-item-id="{{ display_object.workspace_item.id }}"
      data-item-identifier='{{ display_object.identifier|json_escaped }}'
      data-item-shortname="{{ display_object.shortname }}"
      data-item-name="{{ display_object.name }}"
      title="Voeg toe aan collage"></a></td>{% endif %}
    </tr>
    {% endfor %}
  {% endif %}
</table>
