{# requires 'legend': img_url, description. Uses ss_spite #}
{# interaction code in lizard_map.js #}
{# needs colorpicker from nhi lizard_base #}
{% if legend %}
<span class="ss_sprite ss_table sidebarbox-action-icon legend-tooltip">&nbsp;</span>
<div class="tooltip">
  <h4>Legenda voor {{ name }}
  <span class="ss_sprite ss_table_edit sidebarbox-action-icon legend-edit"
        data-name="{{ name }}"
        rel="#legend-edit-{{ idhash }}">&nbsp;</span>
  </h4>
  <table>
    {% for legend_item in legend %}
    <tr>
      <td><img src="{{ legend_item.img_url }}" /></td><td>{{ legend_item.description }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div id="legend-edit-{{ idhash }}" class="popup popup-fat popup-size-standard">
  <h1>{{ name }}</h1>
  <div>Persoonlijke legenda</div>
  <form class="legend-options popup-form"
        data-url="{% url lizard_map_legend_edit %}">
    <input type="hidden" name="name" value="{{ name }}" />
    <fieldset class="fixed-label-width">
      <div>
        <label>Min. waarde</label>
        <input type="text" name="min_value" value="" />
      </div>
      <div>
        <label>Max. waarde</label>
        <input type="text" name="max_value" value="" />
      </div>
      <div>
        <label>Aantal stappen</label>
        <input type="text" name="steps" value="" />
      </div>
      <div>
        <label>Kleur min. waarde</label>
        <input type="text" name="min_color" value="" />
      </div>
      <div>
        <label>Kleur max. waarde</label>
        <input type="text" name="max_color" value="" />
      </div>
      <div>
        <label>Kleur < min. waarde</label>
        <input type="text" name="too_low_color" value="" />
      </div>
      <div>
        <label>Kleur > max. waarde</label>
        <input type="text" name="too_high_color" value="" />
      </div>
    </fieldset>
    <div><input class="legend-action-reload" type="submit" value="Update legenda" /></div>
  </form>
</div>
{% endif %}
