{% if statistics %}
{% load workspaces %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Period' %}</th>
      <th class="number">Min</th>
      <th class="number">Max</th>
      <th class="number">Gem</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in statistics %}
    <tr>
      <td>{{ stat.name }}</td>
      <td>{{ stat.period }}</td>
      <td class="number">{{ stat.min|float_or_exp|default:"-" }}</td>
      <td class="number">{{ stat.max|float_or_exp|default:"-" }}</td>
      <td class="number">{{ stat.avg|float_or_exp|default:"-" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{# A previous 'else' message 'no statistics available' got removed, btw. #}
