{#{% if workspace.is_animatable %}#}
<div class="sidebarbox">
  <h2>Control panel</h2>
  <div id="controlpanel" class="well">
    <div id="control-status">
      <label>Tijd: <span id="time">-</span></label>
      <div id="slider"></div><br />
    </div>
    <div id="control-buttons">
      <a class="btn btn-start-stop" href="#">
        <i class="icon-play"></i>
        <span id="html-start-stop">Start</span>
      </a>
      <!--a class="btn btn-reset" href="#">
        <i class="icon-retweet"></i>
        Reset
      </a-->
    </div>
  </div>
</div>
{#{% endif %}#}
