{% if statistics %}
{% load workspaces %}
<table class="generic-table">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Periode</th>
      <th class="number">Min</th>
      <th class="number">Max</th>
      <th class="number">Gem</th>
      <th class="number">Aantal onder (grenswaarde)</th>
      <th class="number">Aantal boven (grenswaarde)</th>
      <th class="number">Percentiel</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in statistics %}
    <tr>
      <td>{{ stat.name }}</td>
      <td>{{ stat.period }}</td>
      <td class="number">{{ stat.min|float_or_exp|default:"-" }}</td>
      <td class="number">{{ stat.max|float_or_exp|default:"-" }}</td>
      <td class="number">{{ stat.avg|float_or_exp|default:"-" }}</td>
      <td class="number">{{ stat.count_lt|floatformat|default:"" }} ({{ stat.boundary_value|floatformat:"-2"|default:"stel grenswaarde in" }})</td>
      <td class="number">{{ stat.count_gte|floatformat|default:"" }} ({{ stat.boundary_value|floatformat:"-2"|default:"stel grenswaarde in" }})</td>
      <td class="number">{{ stat.percentile|floatformat|default:"" }} ({{ stat.percentile_value|floatformat|default:"-" }} percentiel)</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{# A previous 'else' message 'no statistics available' got removed, btw. #}
