{# Display edit-workspace #}
{% load workspaces %}
{% load i18n %}
<div id="edit-workspace"
     class="sidebarbox workspace"
     data-workspace-id="{{ workspace_edit.id }}"
     data-url-lizard-map-workspace-item-toggle="{% url lizard_map_workspace_item_toggle %}"
     data-url-lizard-map-workspace-item-delete="{% url lizard_map_workspace_item_delete %}"
     data-url-lizard-map-workspace-item-reorder="{% url lizard_map_workspace_item_reorder %}"
     data-url-lizard-map-workspace-item-edit="{% url lizard_map_workspace_edit_item %}"
     data-url-wms="{% url lizard_map_workspace_edit_wms %}"
     data-url-lizard-map-search-coordinates="{% url lizard_map.search_coordinates %}"
     data-url-lizard-map-search-name="{% url lizard_map.search_name %}"
     data-url-lizard-map-add-selection="{% url lizard_map_collage %}"
     >
  <h2>
    <a id="workspace-empty"
       href="{% url lizard_map_workspace_empty %}"
       title="{% trans 'empty your workspace' %}"
       class="title ss_sprite ss_delete sidebarbox-action-icon action-post-workspace-empty"
       data-target-id="#edit-workspace">
    </a>
    <a id="workspace-link-to-stored"
       href="{% url lizard_map_workspace_storage_list %}"
       title="{% trans 'stored workspaces' %}"
       class="title ss_sprite ss_database sidebarbox-action-icon ajax-dialog"
       data-size="xs">&nbsp;</a>
    <a id="workspace-save"
       href="{% url lizard_map_workspace_save %}"
       title="{% trans 'save workspace...' %}"
       class="title ss_sprite ss_database_save sidebarbox-action-icon ajax-dialog"
       data-size="xs">&nbsp;</a>
    <a id="workspace-load"
       href="{% url lizard_map_workspace_load %}"
       title="{% trans 'load workspace...' %}"
       class="title ss_sprite ss_database_go sidebarbox-action-icon ajax-dialog"
       data-size="xs">&nbsp;</a>
    <span title="Dit is je workspace. Ga met je muis over de elementen heen om opties te zien.">
      Workspace
    </span>
  </h2>
  <ul class="workspace-items without-bullets">
    {% for workspace_item in workspace_edit.workspace_items.all %}
    <li id="workspace-items-{{ workspace_item.id }}"
        class="workspace-item"
        title="{{ workspace_item.name }}"
        data-object-id="{{ workspace_item.id }}"
        data-adapter-class="{{ workspace_item.adapter_class }}"
        data-adapter-layer-json='{{ workspace_item.adapter_layer_json }}'
        data-visible="{{ workspace_item.visible }}">
      {# Legend. #}
      {% legend workspace_item.name workspace_item.adapter session %}
      {# Delete workspace item #}
      <span class="ss_sprite ss_delete sidebarbox-action-icon
                   workspace-item-delete"
            rel="tipsy"
            title="Verwijder">
      </span>
      {# Pan to layer. #}
      {% if workspace_item.has_extent %}
      <span class="ss_sprite ss_magnifier sidebarbox-action-icon
                   workspace-item-pan-to"
            rel="tipsy"
            title="Zoom"></span>
      {% endif %}
      {# Symbol, appears left. #}
      <img class="workspace-item-image"
           src="{{ workspace_item.adapter.symbol_url }}"
           width="16"
           height="16" />
      <input id="{{ workspace_item.id }}"
             class="workspace-item-checkbox"
             type="checkbox"
             {% if workspace_item.visible %}
             checked="checked"
             {% endif %}
             title="Zichtbaar"
             data-workspace-id="{{ workspace.id }}" />
      <div class="workspace-item-name">
        {% firstof workspace_item.name '(noname)' %}
      </div>
    </li>
    {% empty %}
      {# No workspaceitems #}
      <li>Klik op items om deze toe te voegen aan je workspace.</li>
    {% endfor %}
  </ul>
</div>
