<script type="text/javascript">

    // Bind checkboxes of workspace_items to an action.
    bindCheckboxes = function() {
        $(".workspace_item_checkbox").bind('click', function() {
            $.post("{% url lizard_map_workspace_item_edit %}",
                   { workspace_item_id: this.id, visible: this.checked },
                   function(workspace_id) {updateWorkspace(workspace_id)}
                  );
        });
        // $(document).ready(stretchOneSidebarBox);
        // $(window).resize(stretchOneSidebarBox);
    };

    // Update workspace sidebarbox.
    updateWorkspaceBox = function(workspace_id) {
        $.get("{% url lizard_map_workspace_items %}",
              {workspace_id: workspace_id},
              function(workspace_items_li) {
                  {# replace list items with new list items #}
                  $("ul#workspace_"+workspace_id).html(workspace_items_li);
                  bindCheckboxes();
              });
    };

    // Update workspace boxes and their visible layers.
    updateWorkspace = function(workspace_id) {
        updateLayer(workspace_id);
        updateWorkspaceBox(workspace_id);
    };

    // Initialize all workspace actions.
    $(document).ready(function(){
        {% for workspace in workspaces.user %}

        // Make the items in a workspace sortable.
        $("ul#workspace_{{ workspace.id }}").sortable({
            update: function() {
                var order = $("#workspace_{{ workspace.id }}.workspace_items"
                    ).sortable("serialize");
                $.post("{% url lizard_map_workspace_item_reorder workspace_id=workspace.id %}",
                       order,
                       function(workspace_id) {updateWorkspace(workspace_id)}
                      );
            },
            connectWith: '.workspace_items',
            cursor: 'move',
            revert: 'true',
            placeholder: 'ui-sortable-placeholder'

        });

        // Make the workspace droppable, only accept items from 'app'.
        $("ul#workspace_{{ workspace.id }}").droppable({
            accept: '.workspace_acceptable',
            drop: function(event, ui) {
                // Fade out draggable item.
                ui.helper.fadeOut();
                // Get layer_method and parameters from url.
                name = ui.draggable.attr("name");
                // ^^^ TODO: this attr name might be dangerous.
                layer_method = ui.draggable.attr("layer_method");
                layer_method_json = ui.draggable.attr("layer_method_json");
                // Make workspace item out of it.
                $.post("{% url lizard_map_workspace_item_add workspace_id=workspace.id %}",
                       { name: name,
                         layer_method: layer_method,
                         layer_method_json: layer_method_json
                       },
                       function(workspace_id) {updateWorkspace(workspace_id)}
                      );
            }
        });

        updateWorkspaceBox({{ workspace.id }});
        {% endfor %}

        $(".workspace_trash").droppable({
            accept: '.workspace_item',
            hoverClass: 'drophover',
            drop: function(event, ui) {
                workspace_item_id = ui.draggable.attr("value");
                ui.draggable.remove();  // for visual snappyness
                $.post("{% url lizard_map_workspace_item_delete %}",
                       { workspace_item_id: workspace_item_id },
                       function(workspace_id) {updateWorkspace(workspace_id)}
                      );
            }
        });

        // Make checkboxes of workspace_items respond when clicked.
        bindCheckboxes();
    });

</script>
