{# Shows one workspace. Options: show_new_workspace. #}
{% load workspaces %}
{% load i18n %}
{# Beware: one cannot use workspace template tag here, we are IN the workspace template tag #}
<div id="workspace-{{ workspace.id }}"
     class="sidebarbox workspace"
     data-workspace-id="{{ workspace.id }}"
     data-url-lizard-map-workspace-item-empty="{% url lizard_map_workspace_item_empty workspace_id=workspace.id %}"
     data-url-lizard-map-workspace-item-edit="{% url lizard_map_workspace_item_edit %}"
     data-url-lizard-map-workspace-item-reorder="{% url lizard_map_workspace_item_reorder %}"
     data-url-lizard-map-workspace-item-add="{% url lizard_map_workspace_item_add %}"
     data-url-lizard-map-workspace-item-delete="{% url lizard_map_workspace_item_delete %}"
     data-url-lizard-map-snippet-add="{% url lizard_map_session_collage_snippet_add %}"
     data-url-lizard-map-snippet-delete="{% url lizard_map_session_collage_snippet_delete %}"
     data-url-lizard-map-session-workspace-add-item-temp="{% url lizard_map_session_workspace_add_item_temp %}"
     data-url-lizard-map-session-workspace-extent-temp="{% url lizard_map_session_workspace_extent_temp %}"
     data-url-lizard-map-workspace-item-extent="{% url lizard_map_workspace_item_extent %}"
     data-url-lizard-map-collage-popup="{% url lizard_map.collage_popup %}"
     data-url-lizard-map-snippet-popup="{% url lizard_map.snippet_popup %}"
     data-url-lizard-map-search-coordinates="{% url lizard_map.search_coordinates %}"
     data-url-lizard-map-search-name="{% url lizard_map.search_name %}"
     >
  <h2>
    {% if date_range_form %}
    <a href="#"
       class="ss_sprite ss_calendar_view_day sidebarbox-action-icon popup-trigger"
       rel="#summary-datepicker"
       title="{% trans 'adjust datetime' %}"></a>
    {% endif %}
    {% if show_new_workspace %}
    <a href="?new_workspace"
       title="{% trans 'new workspace' %}"
       class="title">
      <span class="ss_sprite ss_page_add">&nbsp;</span>
    </a>
    {% endif %}
    <a href="{% url lizard_map_workspace workspace_id=workspace.id %}"
       title="{% trans 'link to' %} {{ workspace.name }}"
       class="title ss_sprite ss_arrow_turn_right sidebarbox-action-icon">&nbsp;</a>
    <a href="#"
       title="{% trans 'empty' %} {{ workspace.name }}"
       class="title ss_sprite ss_bin_empty sidebarbox-action-icon workspace-empty-trigger">
    </a>
    <span>{{ workspace.name }}</span>
  </h2>
  <div>
    {% date_popup %}
    <div id="graph-popup">
      <div id="graph-popup-content">
      </div>
    </div>
    <div class="hide">
      <a href="#" rel="#not_found_popup" id="not_found_popup_trigger">hidden</a>
    </div>
    <div id="not_found_popup">
      <h1>Niets gevonden</h1>
      <p>Er is niets rond deze locatie gevonden.</p>
    </div>
    <ul class="workspace-items without-bullets"
        data-workspace-id="{{ workspace.id }}">
      {# Call updateWorkspaceBox to fill workspace. #}
      {% for workspace_item in workspace.workspace_items.all %}
      <li id="workspace-items-{{ workspace_item.id }}" {# necessary for reordering #}
          class="workspace-item"
          data-object-id="{{ workspace_item.id }}"
          data-workspace-id="{{ workspace.id }}">
        {# Legend. #}
        {% legend workspace_item.name workspace_item.adapter session %}
        {# Pan to layer. #}
        <span class="ss_sprite ss_bullet_go sidebarbox-action-icon
                     workspace-item-pan-to"
              title="{% trans 'Pan to this layer' %}"></span>
        {# Symbol, appears left. #}
        <img class="workspace-item-image"
             src="{{ workspace_item.adapter.symbol_url }}"
             width="16"
             height="16" />
        <input id="{{ workspace_item.id }}"
               class="workspace-item-checkbox"
               type="checkbox"
               {% if workspace_item.visible %}
               checked="checked"
               {% endif %}
               data-workspace-id="{{ workspace.id }}" />
        <div class="workspace-item-name">{% firstof workspace_item.name '(noname)' %}</div>
      </li>
      {% empty %}
      {# No workspaceitems #}
      <li>Sleep items hierheen.</li>
      {% endfor %}
    </ul>
  </div>
  {% for collage in workspace.collages.all %}
  <h2 class="collage"
      data-collage-id="{{ collage.id }}">
    <span class="collage-popup ss_sprite ss_chart_line sidebarbox-action-icon">
      &nbsp;
    </span>
    <a href="{% url lizard_map.collage collage_id=collage.id %}"
       title="{% trans 'link to' %} {{ collage.name }}"
       class="title ss_sprite ss_arrow_turn_right sidebarbox-action-icon">&nbsp;</a>
    <span>{{ collage.name }}</span>
  </h2>
  <div>
    <ul class="snippet-list without-bullets"
        data-collage-id="{{ collage.id }}"
        title="{% trans 'popup' %} {{ collage.name }}">
      {% for snippet_group in collage.snippet_groups.all %}
        {% for snippet in snippet_group.snippets.all %}
        <li class="snippet" title="{{ snippet.name }}"
            data-object-id="{{ snippet.id }}">
          <img src="{{ snippet.workspace_item.adapter.symbol_url }}"
               width="16"
               height="16" />
          <span>{% firstof snippet.shortname snippet.name '(noname)' %}</span>
        </li>
        {% endfor %}
      {% empty %}
      <li>Nog geen grafieken.</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

  {# Look up icon classes in http://www.ajaxbestiary.com/Labs/SilkSprite/ #}
  <div class="sidebarbox-actions">
    <div class="workspace-trash"><span class="ss_sprite ss_bin_empty">Prullenbak</span></div>
  </div>
</div>
