{# Display edit-workspace #}
{% load i18n workspaces %}
<div id="edit-workspace"
     class="sidebarbox workspace"
     data-workspace-id="{{ workspace_edit.id }}"
     data-url-lizard-map-workspace-item-toggle="{% url "lizard_map_workspace_item_toggle" %}"
     data-url-lizard-map-workspace-item-delete="{% url "lizard_map_workspace_item_delete" %}"
     data-url-lizard-map-workspace-item-reorder="{% url "lizard_map_workspace_item_reorder" %}"
     data-url-lizard-map-workspace-item-edit="{% url "lizard_map_workspace_edit_item" %}"
     data-url-lizard-map-search-coordinates="{% url "lizard_map.search_coordinates" %}"
     data-url-lizard-map-search-name="{% url "lizard_map.search_name" %}"
     data-url-lizard-map-add-selection="{% url "lizard_map_collage" %}"
     data-url-lizard-map-workspace-item-extent="{% url "lizard_map_workspace_item_extent" %}"
     >
  {% comment %}
  <h2>
    <span title="{% trans 'This is your workspace. Hover your mouse over the containing items to see options.' %}">
      {% trans 'Layers' %}
    </span>
  </h2>
  {% endcomment %}

    <ul class="workspace-items unstyled">
        {% for workspace_item in workspace_edit.workspace_items.all %}
        <li id="workspace-item-{{ workspace_item.id }}"
            class="workspace-item"
            data-object-id="{{ workspace_item.id }}"
            data-adapter-class="{{ workspace_item.adapter_class }}"
            data-adapter-layer-json='{{ workspace_item.adapter_layer_json }}'
            data-visible="{{ workspace_item.visible }}">
            <div>
                {# Symbol, appears left. #}
                {% if workspace_item.adapter.symbol_url %}
                {% comment %}
                <img class="workspace-item-image"
                     src="{{ workspace_item.adapter.symbol_url }}"
                     width="16"
                     height="16"
                />
                {% endcomment %}
                {% else %}
                {% endif %}
                <span class="workspace-item-toggle-visiblity"
                      title="{% trans 'Click to toggle visibility' %}">
                    <i class="icon-check"></i><i class="icon-check-empty"></i> {% firstof workspace_item.name '(noname)' %}
                </span>
            </div>
            {% comment %}
            <div style="height:28px;">
                <div class="btn-group pull-right">
                    {% if workspace_item.has_extent %}
                    <button class="btn btn-small btn-info workspace-item-pan-to" title="{% trans 'Zoom to extent' %}">
                        <i class="icon-search"></i>
                    </button>
                    {% endif %}
                    <button class="btn btn-small workspace-item-move-up" title="{% trans 'Move up' %}">
                        <i class="icon-arrow-up"></i>
                    </button>
                    <button class="btn btn-small workspace-item-move-down" title="{% trans 'Move down' %}">
                        <i class="icon-arrow-down"></i>
                    </button>
                    <button class="btn btn-small btn-danger workspace-item-delete" title="{% trans 'Delete item' %}">
                        <i class="icon-trash icon-white"></i>
                    </button>
                </div>
            </div>
            {% endcomment %}
        </li>
        {% empty %}
        {# No workspace items #}
        <li>
            {% trans 'No map layers selected.' %}
        </li>
        {% endfor %}
    </ul>
    {% comment %}
    <hr noshade style="border-color: #7FA9AE; color: #7FA9AE; background-color: #7FA9AE;" />
    {% endcomment %}
    <div class="btn-group" style="display: block; width: 78px; margin-left: auto; margin-right: auto;">
        <button id="workspace-empty"
                href="{% url "lizard_map_workspace_empty" %}"
                class="btn sidebarbox-action-icon action-post-workspace-empty"
                title="{% trans 'Empty your workspace' %}">
           <i class="icon-trash icon-white"></i>
        </button>
        <button id="workspace-save"
                href="{% url "lizard_map_workspace_save" %}"
                class="btn sidebarbox-action-icon popup-workspace-save"
                data-size="xs"
                title="{% trans 'Save your workspace' %}"
                {% if not workspace_edit.workspace_items.exists %} disabled="disabled" {% endif %}>
            <i class="icon-save"></i>
        </button>
    </div>

    {% comment %}
    The added value of next link might not be obvious to a user, because workspace-load
    seems to offer comparable functionality. A subtle difference is that it reveals a
    URL to a read-only workspace, which you can send around via email.
    {% endcomment %}
    {% comment %}
      <a id="workspace-link-to-stored"
         href="{% url "lizard_map_workspace_storage_list" %}"
         title="{% trans 'Stored workspaces...' %}"
         class="title ss_sprite ss_database sidebarbox-action-icon ajax-dialog"
         data-size="xs">&nbsp;</a>
    {% endcomment %}

    {% comment %}
      <a id="workspace-load"
         href="{% url "lizard_map_workspace_load" %}"
         title="{% trans 'Load workspace...' %}"
         class="title ss_sprite ss_database_go sidebarbox-action-icon ajax-dialog"
         data-size="xs">&nbsp;</a>
    {% endcomment %}
  </ul>
</div>
