<script type="text/javascript">
    $(document).ready(function(){
        {% for workspace in workspaces.user %}
        {# make the items in a workspace sortable #}
        $("ul#workspace_{{ workspace.id }}").sortable({
            update: function() {
                var order = $("#workspace_{{ workspace.id }}.workspace_items").sortable("serialize");
                $.post("{% url lizard_map_workspace_item_reorder workspace_id=workspace.id %}", 
                       order,
                       function(data) {
                           //$("div#workspace_{{ workspace.id }}").replaceWith(data);
                           updateLayer({{ workspace.id }});
                       }
                      );
            },
            connectWith: '.workspace_items'
        });

        {# make the workspace droppable, only accept items from 'app' #}
        $("ul#workspace_{{ workspace.id }}").droppable({
            accept: '.workspace_acceptable',
            drop: function(event, ui) { 
                //fade out draggable item 
                ui.helper.fadeOut();
                //get layer_method and parameters from url, 
                name = ui.draggable.attr("name"); //TODO: deze attr naam is misschien gevaarlijk
                layer_method = ui.draggable.attr("layer_method");
                layer_method_json = ui.draggable.attr("layer_method_json");
                //make workspace item of it
                $.post("{% url lizard_map_workspace_item_add workspace_id=workspace.id %}",
                       { name: name,
                         layer_method: layer_method,
                         layer_method_json: layer_method_json
                       },
                       function(data) {
                           //$("div#workspace_{{ workspace.id }}").replaceWith(data);
                           updateLayer({{ workspace.id }});
                       }
                      );
            }
        });

        {% endfor %}

        {% comment %}for all workspaces we have a trash bin, all trash bins are in fact the same{% endcomment %}
        $(".workspace_trash").droppable({
            accept: '.workspace_item',
            drop: function(event, ui) {
                workspace_item_id = ui.draggable.attr("value");
                $.post("{% url lizard_map_workspace_item_delete %}", 
                       { workspace_item_id: workspace_item_id }, function(workspace_id) {
                           updateLayer(workspace_id);
                       });
                ui.draggable.remove();
            }
        });

        {# make checkboxes of workspace_items respond when clicked #}
        $(".workspace_item_checkbox").bind('click', function() {
            $.post("{% url lizard_map_workspace_item_edit %}", 
                   { workspace_item_id: this.id, visible: this.checked }, function(workspace_id) {
                       updateLayer(workspace_id);
                   });
        });

    });

    updateWorkspaces = function() {
        alert('updating workspaces');
    };


    updateAll = function() {
        alert('updating all');
        updateWorkspaces();
    };

</script>
