<div class="collage">

<h2>{{ collage.name }}</h2>
{% for workspace_item in collage.workspace_items %}
<h3>{{ workspace_item.name }}</h3>
<ul>
  {% for snippet in collage.snippets.all %}
    {% ifequal snippet.workspace_item workspace_item %}<li>{{ snippet }}</li>{% endifequal %}
  {% endfor %}
</ul>
<div class="img-use-my-size">
  <a class="replace-with-image"
     href="{% url lizard_map.workspace_item_image workspace_item_id=workspace_item.id %}?{% for snippet in collage.snippets.all %}{% ifequal snippet.workspace_item workspace_item %}identifier={{ snippet.identifier_json }}&{% endifequal %}{% endfor %}">image</a>
</div>
{% endfor %}

</div>
