<a href="{% url lizard_map_workspace_item_edit %}" class="url-lizard-map-workspace-item-edit"></a>
<a href="{% url lizard_map_workspace_item_reorder %}" class="url-lizard-map-workspace-item-reorder"></a>
<a href="{% url lizard_map_workspace_item_add %}" class="url-lizard-map-workspace-item-add"></a>
<a href="{% url lizard_map_workspace_item_delete %}" class="url-lizard-map-workspace-item-delete"></a>
<a href="{% url lizard_map_session_collage_snippet_add %}" class="url-lizard-map-snippet-add"></a>
<a href="{% url lizard_map_session_collage_snippet_delete %}" class="url-lizard-map-snippet-delete"></a>
