{# Display edit-collage #}
{% load workspaces %}
{% load i18n %}
<div id="edit-collage"
     class="sidebarbox collage{% if stretched %} sidebarbox-stretched{% endif %}"
     data-collage-id="{{ collage_edit.id }}"
     >
  <h2>
    <a id="collage-empty"
       href="{% url lizard_map_collage_empty %}"
       title="{% trans 'empty your collage' %}"
       class="title ss_sprite ss_delete sidebarbox-action-icon action-post-workspace-empty{% if reload_after_action %} reload-after-action{% endif %}"
       data-target-id="#edit-collage">
    </a>
    <a id="collage-popup"
       href="{% url lizard_map_collage_popup %}"
       title="{% trans 'collage popup' %}"
       class="title ss_sprite ss_chart_line sidebarbox-action-icon collage-popup">
    </a>
    {# Collage edit page #}
    <a class="ss_sprite ss_arrow_turn_right sidebarbox-action-icon"
       rel="tipsy"
       title="Ga naar pagina voor selectie"
       href="{% url lizard_map_collage_edit_detail %}">
    </a>
    <span title="Dit is je huidige selectie.">
      Selectie
    </span>
  </h2>
  <ul class="collage-items without-bullets">
    {% for collage_item in collage_edit.collage_items.all %}
    <li id="collage-items-{{ collage_item.id }}"
        class="collage-item"
        title="{{ collage_item.name }}"
        data-object-id="{{ collage_item.id }}">
      {# Delete collage item #}
      <a class="ss_sprite ss_delete sidebarbox-action-icon
                collage-item-delete{% if reload_after_action %} reload-after-action{% endif %}"
            rel="tipsy"
            title="Verwijder"
            href="{% url lizard_map_collage_item_edit %}"
            data-target-id="#edit-collage">
      </a>
      {# Symbol, appears left. #}
      <img class="collage-item-image"
           src="{{ collage_item.adapter.symbol_url }}"
           width="16"
           height="16" />
      <input id="{{ collage_item.id }}"
             class="collage-item-checkbox{% if reload_after_action %} reload-after-action{% endif %}"
             type="checkbox"
             {% if collage_item.visible %}
             checked="checked"
             {% endif %}
             title="Zichtbaar"
             href="{% url lizard_map_collage_item_edit %}"
             data-target-id="#edit-collage"/>
      <a class="collage-item-name collage-popup"
         href="{% url lizard_map_collage_item_popup collage_item_id=collage_item.id %}">
        {% firstof collage_item.name '(noname)' %}
      </a>
    </li>
    {% empty %}
      {# No collage items #}
      <li>Selecteer items op de kaart.</li>
    {% endfor %}
  </ul>
</div>
