{% if workspace.is_animatable %}
<div class="sidebarbox">
  <h2>{% trans 'Control panel' %}</h2>
  <div id="controlpanel" class="well">
    <div id="control-status">
      <label>{% trans 'Time step' %}: <span id="time">0</span></label>
      <div id="slider"></div><br />
    </div>
    <div id="control-buttons">
      <a class="btn btn-start-stop" href="#">
        <i class="icon-play"></i>
        <span id="html-start-stop">Start</span>
      </a>
      <a class="btn btn-reset" href="#">
        <i class="icon-retweet"></i>
        {% trans 'Reset' %}
      </a>
    </div>
  </div>
</div>
{% endif %}
