{% extends "lizard_map/lizardgis.html" %}
{% load i18n map workspaces %}


{% block map-javascript %}
  {{ block.super }}
  {% if view.has_google %}
    <script src="//maps.google.com/maps/api/js?v=3&sensor=false"></script>
  {% endif %}
{% endblock map-javascript %}

{% block sidebar2 %}
  {% if view.workspace_storages %}
    <ul>
      {% for workspace_storage in view.workspace_storages %}
        <li><a href="{% url "lizard_map_workspace_storage" workspace_id=workspace_storage.pk %}">{{ workspace_storage.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      {% trans 'Now there are no thematic maps available to you. You have to log on (top right).' %}
    </p>
  {% endif %}
{% endblock sidebar2 %}

{% block secondary-sidebar %}
  <div style="display: none;">
    {% workspace_edit view.workspace_edit %}
  </div>
{% endblock secondary-sidebar %}

{% block rightbar %}
  {% for legend in view.legends %}
    {{ legend.to_html }}
  {% endfor %}
{% endblock rightbar %}


{% block content %}
  {# data attributes wms #}
  {# All contents of lizard-map-wms must have class lizard-map-wms-item #}
  <div id="lizard-map-wms"
       style="display: none;"
	   data-bootstrap-tour="{{ view.bootstrap_tour }}"
       data-javascript-click-handler="{{ view.javascript_click_handler }}"
       {% if view.javascript_hover_handler %}
         {% ifnotequal view.javascript_hover_handler 'None' %}
         data-javascript-hover-handler="{{ view.javascript_hover_handler }}"
         {% endifnotequal %}
       {% endif %}
       data-disclaimer-text="{{ view.disclaimer_text }}"
       {# New style maps #}
       data-max-extent-left="{{ view.max_extent.left }}"
       data-max-extent-top="{{ view.max_extent.top }}"
       data-max-extent-right="{{ view.max_extent.right }}"
       data-max-extent-bottom="{{ view.max_extent.bottom }}"
       data-start-extent-left="{{ view.start_extent.left }}"
       data-start-extent-top="{{ view.start_extent.top }}"
       data-start-extent-right="{{ view.start_extent.right }}"
       data-start-extent-bottom="{{ view.start_extent.bottom }}"
       {# for WMS: EPSG:28992, EPSG:900913 #}
       data-projection="{{ view.projection }}"
       {# for WMS: EPSG:28992, EPSG:900913, EPSG:4326 #}
       data-display-projection="{{ view.display_projection }}"
       {# URLS for saving, loading map locations #}
       data-save-location-url="{% url "lizard_map.map_location_save" %}"
       data-load-location-url="{% url "lizard_map.map_location_load_default" %}"
       {# Selected base layer #}
       data-selected-base-layer="{{ view.base_layer_name }}"
       {# json uses "" #}
	   data-wms-filter='{{ view.wms_filter }}'
       >
    {# Make a layer for every background map #}
    {% for background_map in view.background_maps %}
      {% background_map background_map %}
    {% endfor %}
    {# Add wms layers from workspace #}
    {% for wms_layer in view.wms_layers %}
      {% autoescape off %}
        <div class="workspace-wms-layer lizard-map-wms-item"
             data-workspace-wms-id="{{ wms_layer.wms_id }}"
             data-workspace-wms-name="{{ wms_layer.name }}"
             data-workspace-wms-url="{{ wms_layer.url }}"
             {# json uses "" #}
             data-workspace-wms-params='{{ wms_layer.params }}'
             data-workspace-wms-options='{{ wms_layer.options }}'
             data-workspace-wms-index='{{ wms_layer.index }}'
             data-workspace-wms-cql_filters='{{ wms_layer.cql_filters }}'
             data-workspace-wms-info='{{ wms_layer.info|escape }}'
             data-workspace-wms-animatable='{{ wms_layer.is_animatable }}'>
         </div>
       {% endautoescape %}
     {% endfor %}
  </div>
  <div id="map"></div>
{% endblock content %}
