{% extends "lizard_map/lizardgis.html" %}{% load i18n %}{% load map %}
{% load workspaces %}

{% block css %}
{{ block.super }}
<!-- tab styling -->
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_ui/tabs.css" />
{% endblock %}

{% block map-javascript %}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_map/lizard_wms.js"></script>
{% if view.has_google %}
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ view.map_variables.googlemaps_api_key }}'></script>
{% endif %}
{% ifequal detected_browser 'iPad' %}
{# iPad touch extension from: http://anders.com/cms/352/OpenLayers/iPhone/Android/Touch.Gestures #}
<script type="text/javascript"
        src="{{ STATIC_URL }}touch/touch.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_map/lizard_touch.js"></script>
{% endifequal %}
{% endblock map-javascript %}

{% block above-content %}
<ul class="map-actions">
  <li id="map-multiple-selection"
      class="action-icon map-multiple-selection"
      title="Multi-selectie vanaf de kaart."
      rel="tipsy-south">
  </li>
  <li>
    <a href="{% url lizard_map_date_range %}"
     id="date-range"
     title='Van {{ view.date_start_period|date:"d-m-Y" }} t/m {{ view.date_end_period|date:"d-m-Y" }}'
     class="title datepicker-icon action-icon ajax-dialog-onchange"
     data-replace-titles="date-range"
     data-size="s"
     rel="tipsy-south">&nbsp;</a>
  </li>
  {# Load and save map locations #}
  <li id="map-load-default-location"
      class="map-action"
      data-url="{% url lizard_map.map_location_load_default %}">
    <span rel="tipsy" class="map-location-icon action-icon"
          title="{% trans 'Pan &amp; zoom naar standaard kaartlocatie.' %}"></span>
  </li>
  {% if view.animation_slider %}
  <li id="animation-slider"
      class="map-action"
      data-min="{{ view.animation_slider.min }}"
      data-max="{{ view.animation_slider.max }}"
      data-step="{{ view.animation_slider.step }}"
      data-value="{{ view.animation_slider.value }}"
      data-ajax-path="{% url lizard_map.set_animation_date %}">
  </li>
  <li class="map-action">
    <span id="selected-date">{{ view.animation_slider.selected_date|date:"d/m/Y" }}</span>
  </li>
  {% endif %}
  <li id="transparency-slider"
      title="Pas transparantie aan"
      class="map-action"
      rel="tipsy-south">
  </li>
  <li class="map-action">
    &nbsp;
  </li>
</ul>
{% endblock above-content %}

{% block object-actions %}
<span class="ss_sprite ss_page_save"><a id="download-map" href="{% url lizard_map.views.save_map_as_image %}">Download</a></span> |
{{ block.super }}
{% endblock %}

{% block content %}
{# Popups: invisible #}
<div id="dialog">
  <div id="dialog-content">
  </div>
</div>
{# data attributes wms #}
{# All contents of lizard-map-wms must have class lizard-map-wms-item #}
<div id="lizard-map-wms"
     data-javascript-click-handler="{{ view.javascript_click_handler }}"
     {% if javascript_hover_handler %}
       {% ifnotequal javascript_hover_handler 'None' %}
       data-javascript-hover-handler="{{ view.javascript_hover_handler }}"
       {% endifnotequal %}
     {% endif %}
     {# New style maps #}
     data-max-extent-left="{{ view.max_extent.left }}"
     data-max-extent-top="{{ view.max_extent.top }}"
     data-max-extent-right="{{ view.max_extent.right }}"
     data-max-extent-bottom="{{ view.max_extent.bottom }}"
     data-start-extent-left="{{ view.start_extent.left }}"
     data-start-extent-top="{{ view.start_extent.top }}"
     data-start-extent-right="{{ view.start_extent.right }}"
     data-start-extent-bottom="{{ view.start_extent.bottom }}"
     {# for WMS: EPSG:28992, EPSG:900913 #}
     data-projection="{{ view.projection }}"
     {# for WMS: EPSG:28992, EPSG:900913, EPSG:4326 #}
     data-display-projection="{{ view.display_projection }}"
     {# URLS for saving, loading map locations #}
     data-save-location-url="{% url lizard_map.map_location_save %}"
     data-load-location-url="{% url lizard_map.map_location_load_default %}"
     {# Selected base layer #}
     data-selected-base-layer="{{ view.base_layer_name }}"
     >
  {# Make a layer for every background map #}
  {% for background_map in view.background_maps %}
  {% background_map background_map %}
  {% endfor %}
  {# Make a layer for workspace. #}
  <div class="workspace-layer lizard-map-wms-item"
       data-workspace-id="{{ view.workspace.id }}"
       data-workspace-name="{{ view.workspace.name }}"
       data-workspace-wms="{{ view.workspace.wms_url }}">
  </div>
  {# Add wms layers from workspace #}
  {% for wms_layer in view.workspace.wms_layers %}
  {% autoescape off %}
  <div class="workspace-wms-layer lizard-map-wms-item"
       data-workspace-wms-id="{{ wms_layer.wms_id }}"
       data-workspace-wms-name="{{ wms_layer.name }}"
       data-workspace-wms-url="{{ wms_layer.url }}"
       {# json uses "" #}
       data-workspace-wms-params='{{ wms_layer.params }}'
       data-workspace-wms-options='{{ wms_layer.options }}'>
   </div>
   {% endautoescape %}
   {% endfor %}
</div>
<div id="map"></div>
{% endblock content %}
