<{{ acceptable.html_tag }} class="{{ classes }}"
   href="#"
  {% if acceptable.description %}
    data-content="{{ acceptable.description }}"
    title="{{ acceptable.name }}"
  {% endif %}
    data-adapter-layer-json="{{ acceptable.adapter_layer_json }}"
    data-adapter-class="{{ acceptable.adapter_name }}"
    data-name="{{ acceptable.name }}">
  {% if acceptable.enabled %}
    <i class="icon-ok workspace-selected-icon"></i>
  {% endif %}
  {{ acceptable.name }}
</{{ acceptable.html_tag }}>
