{# Note: probably not in use anymore! #}
{% load i18n %}
{% for workspace_item in workspace.workspace_items.all %}
  <li id="workspace_items_{{ workspace_item.id }}"
      value="{{ workspace_item.id }}"
      class="workspace_item"
      data-workspace_id="{{ workspace.id }}">
    <img src="{{ workspace_item.symbol_url }}"
         width="16"
         height="16" />
    <input id="{{ workspace_item.id }}"
           class="workspace_item_checkbox"
           type="checkbox"
           {% if workspace_item.visible %}
           checked="true"
           {% endif %}
           data-workspace_id="{{ workspace.id }}" />
    {% if workspace_item.name %}
    {{ workspace_item.name }}
    {% else %}
    ({% trans 'noname' %})
    {% endif %}
  </li>
{% empty %}
{# No workspaceitems #}
<li>{% trans 'Click on the "plus" of workspace items to add them.' %}</li>
{% endfor %}
