{# Workspace (storage) view: shows workspace on the left, map on the right #}
{% extends "lizard_map/wms.html" %}
{% load i18n %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('header').hide();
    $('.olControlPanZoomBar').hide();
    $('.maximizeDiv').hide();
    $('#footer').css('height', 0);
    $('div#sidebar').css('left', -300);
    $('div#content').css('left', -0);
    $('div#content').css('top', 0);
    $('div#content').css('overflow', 'hidden');
    $('div#rightbar').css('top', 0);
    $('div#map').css('height', '110%');
    $('div#content').css('margin-bottom', '-7%');
    $('.sidebar-inner').css('overflow-y', 'hidden');
    $('body').append("<div id='kompas' style='position:absolute;top:0px;margin:50px;z-index:1000000;'><img width=50 src='/static_media/deltaportaal/kompasroos.png' /></div>");
    // window.resize_graphs();
});
</script>
{% endblock map-javascript %}




