{% if acceptable.description %}
  <a class="workspace-acceptable-info has_popover"
     data-content="{{ acceptable.description }}"
     data-trigger="click"
     rel="popover"
     title="{{ acceptable.name }}"
     href="#"
     ><i class="icon-info-sign"></i></a>
{% endif %}
<{{ acceptable.html_tag }} class="{{ classes }}"
  href="#"
  data-adapter-layer-json="{{ acceptable.adapter_layer_json }}"
  data-adapter-class="{{ acceptable.adapter_name }}"
  data-name="{{ acceptable.name }}">
  {% if acceptable.enabled %}
    <i class="icon-ok workspace-selected-icon"></i>
  {% endif %}
  {% if acceptable.is_animatable %}
    <i class="icon-film"></i>
  {% endif %}
  {{ acceptable.name }}
</{{ acceptable.html_tag }}>
