.workspace-acceptable-info {
  display: block;
  float: right;
}

.popover-title-info {
  font-weight: bold;
  font-style: italic;
}

.popover.bottom .arrow-info {
  top: -10px !important;
}

.popover.right .arrow-info{
  left: -10px !important;
}

.popover.top .arrow-info {
  bottom: -10px !important;
}

.popover.left .arrow-info{
  right: -10px !important;
}

.popover[class*=tour-] {
  z-index: 1999;
}

#box-awesome {
position: fixed;
	z-index: 1998;
	top: 50px;
	left: 11px;
}

#logo-row {
  z-index: 1998 !important;
}

#edit-collage-table .ss_sprite {
  padding-bottom: 2px;
}

#edit-collage-table .flot-graph-control-row {
  display: none;
}

#edit-collage-table .hide-in-collage {
  display: none;
}

.dynamic-graph-zoomable .graph-loading-animation {
  z-index: 2000;
  position: relative;
}

.wms-full-width-image {
  width: 350px;
}
